body {
	   background: url("../images/abstract.png");
	   background-color:gray;
}

h1 {

	color:white;
	height: 105px;
	text-align: center;
	font-size: 60pt;
}

#glyphicon {
	background: gray;
	font-size: 30px;
}

#submitbtn {
	margin-top:-10px;
	margin-bottom:20px;
}
#article-panel{
	postion: absolute;
	background-color:#bfbfbf;
	font-weight:bold;
	font-size: 20px;
	z-index: 1;

}
