body {
	   background: url("../images/abstract.png");
	   background-color:gray;
}

h1 {

	color:white;
	height: 105px;
	text-align: center;
	font-size: 60pt;
}

#glyphicon {
	background: gray;
	font-size: 30px;
}

#bottombtn {
	margin-top:-20px;
	margin-bottom:20px;
}
